.mainBlock 
{
    min-height: 300px;
}
.usersBlock 
{
    height: 450px;
    overflow: auto;
    background-color: #E0ECF8;
    margin-left: 0;
}
.roomsBlock 
{
    background-color: #E0ECF8;
    height: 450px;
    overflow: auto;
}
.privateBlock 
{
    background-color: #E0ECF8;
    height: 450px;
}
.hidden {
    display: none;
}