@{  
    ViewBag.Title = "Home Page";
}
@section scripts
{    
    @Scripts.Render("~/Scripts/app/main.js")
    
    <script type="text/javascript">
        $(function() {
            Login({ success: true });
        });
    </script>

}
<div class="row">
    <h4>@ViewBag.Message</h4>
    <span>Logined as: </span>
    <h4 id="userName"></h4>
</div>
          
<div class="row">
    <div class="col-lg-2 usersBlock">
        <p class="text-info">Users online:</p> 
        <ul id="users">
        </ul>

    </div>
    
    <div class="col-lg-6" id="roomsBlock">
        <div class="well roomsBlock">
            <table id="rooms" class="table">

            </table>
        </div>
         
    </div>
    
    @*    <div class="span9 privateBlock well" id="privateBlock">
        
        Communicate
        <button class="btn btn-danger" type="submit" onclick="LeaveRoom()">Leave room</button>
    </div>*@
</div>
<div class="row">
         <button class="btn btn-success" type="submit" onclick="CreateRoomDialog()">Create a new room</button>
</div>

@Html.Partial("Modal")
