@{  
    ViewBag.Title = "Home Page";
}
<div class="hero-unit">
    <h4>@ViewBag.Message</h4>

</div>
          
<div class="well"> 
    <ul class="unstyled">
    </ul>
    @using (Html.BeginForm("Room", "Home", FormMethod.Post))
    {
        <input type="submit" id="btn_room_create" class="btn-success" value="Create a new room"/>
        <input type="hidden" id="isNew" value="1"/>
    }
</div>

<div class="modal fade" id="login_modal">
    <div class="modal-header">
        <h3>Please fill the form</h3>
    </div>
    <div id="modal_content" class="modal-body">
        @using (Ajax.BeginForm("Login", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "Start" }, new { Class = "form-search" }))
        {
            <input id="login" name="login" class="input-xlarge" type="text" placeholder="Your name" />
            <span id="login-error" class="help-inline error" style="display: none;"></span>
            <button class="btn btn-success" type="submit">Save</button>
        }
    </div>
    <div class="modal-footer">
    </div>
</div>   
    <script type="text/javascript">
        function SetName() {
            $("#login_modal").modal({
                backdrop: true
            });
            $("#login").focus();
        }
        
    </script>
    @if (ViewBag.Login != null && !String.IsNullOrEmpty(ViewBag.Login.ToString()))
    {
        <script type="text/javascript">Start({ success: true, name: '@ViewBag.Login' });</script>
    }
    else
    {
        <script type="text/javascript"> SetName();</script>
    }
